body{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(227, 48, 48);
    color: white;
    font-size: 2rem;
    padding: 10px;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: rgb(241, 136, 136);
}